.TeamMembers{
  margin: 80px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TeamMember img{
  width: 100%;
  border-radius: 10px;
  display: block;
}

.TeamMember {
  flex-basis: 31%;
  position: relative;
}

.caption{
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient( 109.6deg,  rgba(254,253,205,0.7) 11.2%, rgba(163,230,255,0.7) 91.1% );
  /* background: rgba(0, 15, 152, 0.3); */
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0;
  padding-top: 70%;
  transition: 0.4s;
}

.TeamMember:hover  .caption{
  opacity: 1;
  padding-top: 0;
}


/* ------------------------Media Query----------------- */
@media (max-width:650px){
  .TeamMembers{
    flex-direction: column;
  }
  .TeamMember{
    flex-basis: 100%;
    margin: 20px;
  }
}