.header{
  height: 34vw;
  margin: 30px auto;
  /* background: url('/header-img.jpg') no-repeat; */
  background-color: #FFCBCB;
  background-size: contain;
  position: relative;
}

.header-contents{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 30%;
  left: 6vw;
}

.header-contents h2{
  font-weight: 500;
  color: #FF6969;
  font-size: max(3.5vw,22px);

}
.header-contents p{
  color: rgb(0, 136, 255);
  font-size: 1vw;
}
/* 
.header-contents button{
  border: none;
  color: #F7F9F2;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: #028391;
  font-size: max(1vw,13px);
  border-radius: 50px;
} */
.header-contents-buttons button{
  border: none;
  color: #f7f9f2;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: #028391;
  font-size: max(1vw,13px);
  border-radius: 40px;
}