.header{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient( 109.6deg,  rgba(254,253,205,0.7) 11.2%, rgba(163,230,255,0.7) 91.1% ), url('../../assets/hero.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text{
  text-align: center;
  max-width: 800px;
}

.header-text h1{
  font-size: 60px;
  font-weight: 600;
  background-image: linear-gradient( 109.6deg,  rgba(103,30,117,1) 11.2%, rgba(252,76,2,1) 91.1% );
  background-clip: text;
  color: transparent;

}

.header-text p{
  max-width: 700px;
  margin: 10px auto 20px;
  color: #0F3460;
  line-height: 1.4;
}

/* ----------------------------Media Query---------------------- */
@media (max-width: 850px){
  .header-text h1{
    font-size: 40px;
  }
}

@media (max-width: 650px){
  .header-text h1{
    font-size: 30px;
    max-width: 400px;
    margin: auto;
  }
  .header-text p{
    font-size: 14px;
    margin: 15px auto 30px;
  }
}