.header{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient( 109.6deg,  rgba(254,253,205,0.7) 11.2%, rgba(163,230,255,0.7) 91.1% ), url('../../assets/hero.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text{
  text-align: center;
  max-width: 800px;
}

.header-text h1{
  font-size: 60px;
  font-weight: 600;
  background-image: linear-gradient( 109.6deg,  rgba(103,30,117,1) 11.2%, rgba(252,76,2,1) 91.1% );
  background-clip: text;
  color: transparent;

}

.header-text p{
  max-width: 700px;
  margin: 10px auto 20px;
  color: #0F3460;
  line-height: 1.4;
}
/* 
.header button{
  border: none;
  color: #f7f9f2;
  font-weight: 500;
  padding: 1vw 2.1vw;
  margin: 0.8rem;
  background-color: var(--dark-color);
  font-size: max(1vw,13px);
  border-radius: 40px;
  cursor: pointer;
} */
