.navbar{
  width: 100%;
  padding: 1.5rem ;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-color);
  z-index: 10;
}

.navbar .logo{
  width: 150px;
  color: #028391;
  font-size: 28px;
  font-weight: bolder;
}

.navbar-menu{
  display: flex;
  list-style: none;
  gap: 20px;
  color: blueviolet;
  font-size: 18px;
  cursor: pointer;
}

.navbar button{
  background: transparent;
  font-size: 16px;
  color: #1A2130;
  border: 1px solid #028391;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover{
  background-color: #6B8A7A;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: aliceblue;
}

.navbar .active{
  padding-bottom: 2px;
  border-bottom: 2px solid var(--dark-color);
}


/* Responsive code */

@media (max-width: 1050px) {
  .navbar .logo{
    width: 140px;
  }
  .navbar-menu{
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right{
    gap: 30px;
  }
  .navbar-right button{
    padding: 8px 35px;
  }
}

@media (max-width: 900px) {
  .navbar .logo{
    width: 120px;
  }
  .navbar-menu{
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right{
    gap: 20px;
  }
  .navbar-right button{
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .navbar-menu{
    display: none;
  }
}