/* src/components/Footer/Footer.css */

.footer {
  background-color: var(--fixed-color);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin: 0 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-media {
  margin-top: 10px;
}

.social-media a {
  color: #fff;
  margin: 0 10px;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: #f9b233; /* Example hover color */
}
