@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
  --primary-color: #FFEEA9;
  --secondary-color: #FFBF78;
  --light-color: #FEFFD2;
  --dark-color: #FF7D29;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body{
  min-height: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 100%;
  /* padding: 30px 30px; */
  margin: auto;
}