@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
  --main-color:#ADD899;
  --primary-color: #FFEEA9;
  --secondary-color: #FFBF78;
  --light-color: #FEFFD2;
  --dark-color: #FF7D29;
  --fixed-color: #0F3460;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body{
  background: var(--main-color);
  /* min-height: 100%; */
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.app{
  width: 100%;
  /* padding: 30px 30px; */
  margin: auto;
}

.container{
  padding-left: 10%;
  padding-right: 10%;
}

.btn{
  background-color: var(--dark-color);
  color: #fff;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

}

.btn img{
  width: 20px;
  margin-left: 10px;
}


/* ----------------------------Media Query----------------------------- */
@media (max-width: 1200px){
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .btn{
    padding: 14px 22px;
  }
  
}