*{
    margin: 0;
    padding: 0;
}
.Sub_Container{
    position: relative;
    overflow: hidden;
    padding: 26px;
    margin: 0 0 0 0;
    background-color: var(--light-color);
}


.New_Container{
 justify-content: center;
 position: relative;
 display: flex;
}
.Profile_section{
    max-width: 400px;
    min-width: 400px;
    height: 500px;
    background-color: #fafafa; 
    margin:10px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    border: 2px dashed #ddd;
    align-items: center;
}
.History_section{
    max-width: 400px;
    min-width: 400px;
    height: 500px;
    margin:10px;
    color:#fff;
}
.OurMission_Section{
    max-width: 400px;
    min-width: 400px;
    height: 500px;
    margin:10px;
    color:#fff;
}
img{
    width: 400px;
}
.Profile_img{
    width: 120px;
    height: 120px;
    margin-bottom: 25px;
    border-radius: 50%;
}
.Profile_Name{
    font-size: 23px;
    
}
.Profile_Designation{
    color: gray;
    margin-bottom: 20px;

}
.Profile_Content{
    font-size: 17px;
    text-align: center;
    font-weight: 200;
    line-height: 35px;
}
.History_heading,.Mission_heading{
    color: black;
    font-weight: 600;
    padding: 10px;
}
.History_content,.Mission_content{
    font-size: 19px;
    color: black;
    font-weight: 300;
    padding-top: 10px;
    /* padding-bottom: 30px; */
}

.btn_history,.btn_mission{
    background-color: #f8b864;
    color: #fff;
    line-height: 45px;
    display: inline-block;
    width: 100px;
    margin-top: 50px;
    border-radius: 3%;
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

/* Media query for mobile devices */

/* @media (max-width: 1000px) {
    .New_Container {
        flex-direction: column;
        align-items: center;
    }

    .Profile_section, .History_section, .OurMission_Section {
        max-width: 100%;
        min-width: 100%;
        height: auto;
        margin: 10px 0;
    }

    img {
        width: 100%;
    }

    .Profile_img {
        width: 80px;
        height: 80px;
    }

    .Profile_Name {
        font-size: 20px;
    }

    .Profile_Content {
        font-size: 16px;
    }

    .btn_history, .btn_mission {
        width: 80px;
        line-height: 40px;
    }
} */

@media (max-width: 768px) {
    .New_Container {
        flex-direction: column;
        align-items: center;
    }
    
    .Profile_section, .History_section, .OurMission_Section {
        max-width: 100%;
        min-width: 100%;
        height: auto;
    }
    
    img {
        width: 100%;
    }
    
    .Profile_img {
        width: 80px;
        height: 80px;
    }
    
    .Profile_Name {
        font-size: 20px;
    }
    
    .Profile_Content {
        font-size: 16px;
    }
    
    .btn_history, .btn_mission {
        width: 80px;
        line-height: 40px;
    }
}
